#intro-1 {
    background-color: greenyellow;
    text-align: left;
}

.intro {
    color: green;
    border: solid red;
}

.list {
    font-style: italic;
}

.my-introduction {
    font-size: large;
    font-weight: 100;
    font-style: italic;
}

.skills {
    color: pink;
    background-color: purple;
}